#map {
        height: 425px;
      }
      
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
      
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 500px;
        float: right;
        width: 100%;
        overflow: auto;
        margin-bottom:10px;
      }
      #map {
        width:100%;
        margin-bottom:10px;
      }
    
      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
    
      }