.place-details-info-container{
	width:90%;
	display:flex;
	flex-direction: row;
	margin-top:10px;
	box-sizing: border-box;
	border:40px solid #f2f2f2;

}



.weekdays-add-phone-and-rating-container{
	display: flex;
	justify-content: space-between;
}

.weekdays-container{
	display:flex;
	justify-content: center;
	align-items: center;
	flex:1;
	flex-direction: column;
}

.status-color-open{
	color:green;
}
.status-color-closed{
	color:red;
}
.place-details-boxes{
	flex:1;
	padding:60px 10px 20px 10px;
	background-color: #fbfbfb;
	box-sizing: border-box;
	padding:20px;

}

.wesite-navigation-button{
	text-decoration: none;
	border-radius: 5px;
	padding:11px;
	border: 1px solid blue;
	margin:5px;
	font-size: 14px;
}
.place-icons{
	display: flex;
	padding:0px;
	margin:0px;
	font-size:0.8rem;
	align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	
}
@media screen and (max-width:1030px) {
	.place-details-info-container{
		flex-direction: column;
		width:100%;
		border:none;
	  }
	  .place-details-boxes{
	   padding:10px;
	}
	.weekdays-add-phone-and-rating-container{
		flex-direction:column;
	}
	
}
